footer {
  width: 100vw;
  position: relative;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #fff;
}
footer > img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.footer-left {
  flex: 0.2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: fit-content;
  padding: 3rem 0 3rem 6rem;
  height: 100%;
}
.footer-line {
  height: 2px;
  width: 100px;
  background-color: #00dbd0;
  margin: 0.5rem;
  margin-left: 0;
}

.footer-left > img {
  margin-bottom: 1rem;
}

.footer-left p:last-child {
  margin-top: 1rem;
}

.footer-center,
.footer-right {
  flex: 0.25;
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.footer-center p,
.footer-right p {
  font-size: 16px;
  font-weight: bold;
  line-height: 1.31;
  padding-right: 1rem;
}

.footer-center ul {
  list-style: none;
}

.footer-center ul li {
  padding: 0.5rem;
  cursor: pointer;
}

.footer-icons img {
  margin: 1rem 0.4rem;
  cursor: pointer;
}
